@layer toast-queue {
  toast-queue [data-part="group"] {
    display: flex;
    flex-direction: column-reverse;
  }

  toast-queue [data-part="item"]:nth-child(n + 4) {
    display: none;
  }

  ::view-transition-group(.tq-item) {
    animation-duration: 0.3s;
    /* animation-timing-function: linear(
      0,
      0.402 7.4%,
      0.711 15.3%,
      0.929 23.7%,
      1.008 28.2%,
      1.067 33%,
      1.099 36.9%,
      1.11 41%,
      1.13 45.4%,
      1.13 50.1%,
      1.111 58.5%,
      1.019 83.2%,
      1.004 91.3%,
      1
    ); */
  }

  ::view-transition-new(.tq-item):only-child {
    animation-name: enter;
    transform-origin: 50% 0%;
  }
  ::view-transition-old(.tq-item):only-child {
    animation-name: exit;
    transform-origin: 50% 50%;
  }

  @keyframes enter {
    from {
      filter: blur(10px);
      opacity: 0;
      translate: 0 50%;
      scale: 0.8;
    }
  }

  @keyframes exit {
    to {
      filter: blur(10px);
      opacity: 0;
      translate: 0 -100%;
      scale: 1.1;
    }
  }
}
