@layer toast-queue {
  toast-queue [data-part="group"] {
    display: flex;
    flex-direction: column-reverse;
  }

  toast-queue [data-part="item"]:nth-child(n + 4) {
    display: none;
  }

  ::view-transition-group(.tq-toast) {
    animation-duration: 0.3s;
  }

  ::view-transition-new(.tq-toast):only-child {
    animation-name: enter;
    transform-origin: 50% 0%;
  }
  ::view-transition-old(.tq-toast):only-child {
    animation-name: exit;
    transform-origin: 50% 50%;
  }

  @keyframes enter {
    from {
      filter: blur(10px);
      opacity: 0;
      translate: 0 50%;
      scale: 0.8;
    }
  }

  @keyframes exit {
    to {
      filter: blur(10px);
      opacity: 0;
      translate: 0 -100%;
      scale: 1.1;
    }
  }
}
