@layer toast-queue {
  [data-toastq-part="popover"] {
    transition: opacity 0.3s ease-in-out, display 0.3s linear;
    transition-behavior: allow-discrete;
    opacity: 0.8;

    @starting-style {
      opacity: 0.8;
    }
  }

  [data-toastq-part="popover"]:popover-open {
    opacity: 1;
  }

  [data-toastq-part="region"] {
    transition: all ease-in-out 0.25s;
  }

  [data-toastq-part="popover"]:not([data-toastq-minimized]) [data-toastq-part="region"] {
    gap: .6rem;
  }

  /* [data-toastq-part="popover"][data-toastq-minimized] [data-toastq="menubar"] {
    display: none;
  } */

  [data-toastq-part="item"]:first-child {
    z-index: 3;
  }
  [data-toastq-part="item"]:nth-child(2) {
    z-index: 2;
  }
  [data-toastq-part="item"]:nth-child(3) {
    z-index: 1;
  }

  [data-toastq-minimized]
    [data-toastq-part="item"]:not(:first-child)
    [data-toastq-part="close-button"] {
    display: none;
  }

  [data-toastq-position^="top"][data-toastq-minimized] [data-toastq-part="item"]:nth-child(2) {
    margin-block-start: 10px;
  }
  [data-toastq-position^="top"][data-toastq-minimized] [data-toastq-part="item"]:nth-child(3) {
    margin-block-start: 19px;
  }

  [data-toastq-position^="bottom"][data-toastq-minimized] [data-toastq-part="item"]:nth-child(2) {
    margin-block-start: -10px;
  }
  [data-toastq-position^="bottom"][data-toastq-minimized] [data-toastq-part="item"]:nth-child(3) {
    margin-block-start: -19px;
  }

  [data-toastq-part="popover"][data-toastq-minimized] [data-toastq-part="item"]:not(:first-child) {
    pointer-events: none;
  }
  [data-toastq-part="popover"][data-toastq-minimized] [data-toastq-part="item"] {
    grid-area: 1 / 1;
  }
  [data-toastq-part="popover"][data-toastq-minimized] [data-toastq-part="item"]:nth-child(2) {
    scale: 0.95;
  }
  [data-toastq-part="popover"][data-toastq-minimized] [data-toastq-part="item"]:nth-child(3) {
    scale: 0.9;
  }
  [data-toastq-part="popover"][data-toastq-minimized] [data-toastq-part="item"]:nth-child(n + 4) {
    scale: 0.85;
    opacity: 0;
    block-size: 0;
  }

  /* [data-toastq="menubar"] {
        view-transition-name: toast-menubar;
        view-transition-class: toast-menubar;
      } */

  /* ::view-transition-old(.toast-menubar):only-child {
        --slideX: 0;
        --slideY: calc(-100%);
        animation-name: slide-out;
      }
      ::view-transition-new(.toast-menubar):only-child {
        --slideX: 0;
        --slideY: calc(-100%);
        animation-name: slide-in;
      }

      [data-toastq-part="popover"]:not([data-toastq-minimized]) [data-toastq="menubar"] {
        display: flex;
        justify-content: flex-end;
        gap: .5rem;
      } */

  ::view-transition-group(.toast) {
    animation-duration: 0.3s;
    /* animation-duration: 0.5s;*/
    /* animation-timing-function: linear(0, 0.402 7.4%, 0.711 15.3%, 0.929 23.7%, 1.008 28.2%, 1.067 33%, 1.099 36.9%, 1.11 41%, 1.13 45.4%, 1.13 50.1%, 1.111 58.5%, 1.019 83.2%, 1.004 91.3%, 1); */
  }
  ::view-transition-group(.toast.block-end) {
    --slideX: 0;
    --slideY: calc(100%);
    /* object-position: bottom; */
  }
  ::view-transition-group(.toast.block-start) {
    --slideX: 0;
    --slideY: calc(-100%);
    /* object-position: top; */
  }
  ::view-transition-group(.toast.inline-start) {
    --slideX: calc(-100%);
    --slideY: 0;
    /* object-position: left; */
  }
  ::view-transition-group(.toast.inline-end) {
    --slideX: calc(100%);
    --slideY: 0;
    /* object-position: right; */
  }

  /* ::view-transition-new(.toast):only-child,
  ::view-transition-old(.toast):only-child {
    animation-duration: 0.3s;
    animation-timing-function: unset;
  } */
  ::view-transition-new(.toast):only-child {
    animation-name: slide-in;
  }
  ::view-transition-old(.toast):only-child {
    animation-name: slide-out;
  }

  @keyframes slide-in {
    from {
      translate: var(--slideX) var(--slideY);
      opacity: 0.4;
    }
  }

  @keyframes slide-out {
    to {
      translate: var(--slideX) var(--slideY);
      opacity: 0;
    }
  }
}
