@layer toast-queue {
  [data-tq-part="popover"] {
    transition:
      opacity 0.3s ease-in-out,
      display 0.3s linear;
    transition-behavior: allow-discrete;
    opacity: 0.8;

    @starting-style {
      opacity: 0.8;
    }
  }

  [data-tq-part="popover"]:popover-open {
    opacity: 1;

    /* [data-tq-part="menu"] related */
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }

  /* [data-tq-part="menu"] related */
  [data-tq-part="popover"][data-tq-position^="bottom"] {
    flex-direction: column-reverse;
  }

  [data-tq-part="group"] {
    transition: all ease-in-out 0.25s;
  }

  [data-tq-part="group"] {
    display: grid;
    grid-auto-flow: row;
  }

  [data-tq-part="item"]:first-child {
    z-index: 3;
  }
  [data-tq-part="item"]:nth-child(2) {
    z-index: 2;
  }
  [data-tq-part="item"]:nth-child(3) {
    z-index: 1;
  }

  [data-tq-view-mode="stacked"]
    [data-tq-part="item"]:not(:first-child)
    [data-tq-part="close-button"] {
    display: none;
  }

  [data-tq-position^="top"][data-tq-view-mode="stacked"] [data-tq-part="item"]:nth-child(2) {
    margin-block-start: 10px;
  }
  [data-tq-position^="top"][data-tq-view-mode="stacked"] [data-tq-part="item"]:nth-child(3) {
    margin-block-start: 19px;
  }

  [data-tq-position^="bottom"][data-tq-view-mode="stacked"] [data-tq-part="item"]:nth-child(2) {
    margin-block-start: -10px;
  }
  [data-tq-position^="bottom"][data-tq-view-mode="stacked"] [data-tq-part="item"]:nth-child(3) {
    margin-block-start: -19px;
  }

  [data-tq-part="popover"][data-tq-view-mode="stacked"] [data-tq-part="item"]:not(:first-child) {
    pointer-events: none;
  }
  [data-tq-part="popover"][data-tq-view-mode="stacked"] [data-tq-part="item"] {
    grid-area: 1 / 1;
  }
  [data-tq-part="popover"][data-tq-view-mode="stacked"] [data-tq-part="item"]:nth-child(2) {
    scale: 0.95;
  }
  [data-tq-part="popover"][data-tq-view-mode="stacked"] [data-tq-part="item"]:nth-child(3) {
    scale: 0.9;
  }
  [data-tq-part="popover"][data-tq-view-mode="stacked"] [data-tq-part="item"]:nth-child(n + 4) {
    scale: 0.85;
    opacity: 0;
    block-size: 0;
  }

  [data-tq-part="menu"] {
    view-transition-name: tq-menu;
    view-transition-class: tq-menu;
  }

  [data-tq-part="popover"][data-tq-view-mode="stacked"] [data-tq-part="menu"] {
    display: none;
  }

  ::view-transition-old(.tq-menu):only-child {
    --slideX: 0;
    --slideY: calc(-100%);
    animation-name: slide-out;
  }
  ::view-transition-new(.tq-menu):only-child {
    --slideX: 0;
    --slideY: calc(-100%);
    animation-name: slide-in;
  }

  [data-tq-part="popover"]:not([data-tq-view-mode="stacked"]) [data-tq-part="menu"] {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }

  ::view-transition-group(.tq-toast) {
    animation-duration: 0.3s;
    /* animation-timing-function: linear(0, 0.402 7.4%, 0.711 15.3%, 0.929 23.7%, 1.008 28.2%, 1.067 33%, 1.099 36.9%, 1.11 41%, 1.13 45.4%, 1.13 50.1%, 1.111 58.5%, 1.019 83.2%, 1.004 91.3%, 1); */
  }
  ::view-transition-group(.tq-toast.block-end) {
    --slideX: 0;
    --slideY: calc(100%);
    /* object-position: bottom; */
  }
  ::view-transition-group(.tq-toast.block-start) {
    --slideX: 0;
    --slideY: calc(-100%);
    /* object-position: top; */
  }
  ::view-transition-group(.tq-toast.inline-start) {
    --slideX: calc(-100%);
    --slideY: 0;
    /* object-position: left; */
  }
  ::view-transition-group(.tq-toast.inline-end) {
    --slideX: calc(100%);
    --slideY: 0;
    /* object-position: right; */
  }

  /* ::view-transition-new(.toast):only-child,
  ::view-transition-old(.toast):only-child {
    animation-duration: 0.3s;
    animation-timing-function: unset;
  } */
  ::view-transition-new(.tq-toast):only-child {
    animation-name: slide-in;
  }
  ::view-transition-old(.tq-toast):only-child {
    animation-name: slide-out;
  }

  @keyframes slide-in {
    from {
      translate: var(--slideX) var(--slideY);
      opacity: 0.4;
    }
  }

  @keyframes slide-out {
    to {
      translate: var(--slideX) var(--slideY);
      opacity: 0;
    }
  }
}
