@layer toast-queue {
  toast-queue:is(:popover-open) {
    /* [data-part="menu"] related */
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }

  /* [data-part="menu"] related */
  toast-queue[data-placement^="bottom"] {
    flex-direction: column-reverse;
  }

  toast-queue [data-part="group"] {
    display: grid;
    grid-auto-flow: row;
  }

  toast-queue [data-part="item"]:first-child {
    z-index: 3;
  }
  toast-queue [data-part="item"]:nth-child(2) {
    z-index: 2;
  }
  toast-queue [data-part="item"]:nth-child(3) {
    z-index: 1;
  }

  toast-queue[data-mode="stacked"] [data-part="item"]:not(:first-child) [data-part="close-button"] {
    display: none;
  }

  toast-queue[data-placement^="top"][data-mode="stacked"] [data-part="item"]:nth-child(2) {
    margin-block-start: 10px;
  }
  toast-queue[data-placement^="top"][data-mode="stacked"] [data-part="item"]:nth-child(3) {
    margin-block-start: 19px;
  }

  toast-queue[data-placement^="bottom"][data-mode="stacked"] [data-part="item"]:nth-child(2),
  toast-queue[data-placement="center"][data-mode="stacked"] [data-part="item"]:nth-child(2) {
    margin-block-start: -10px;
  }
  toast-queue[data-placement^="bottom"][data-mode="stacked"] [data-part="item"]:nth-child(3),
  toast-queue[data-placement="center"][data-mode="stacked"] [data-part="item"]:nth-child(3) {
    margin-block-start: -19px;
  }

  toast-queue[data-mode="stacked"] [data-part="item"]:not(:first-child) {
    pointer-events: none;
  }
  toast-queue[data-mode="stacked"] [data-part="item"] {
    grid-area: 1 / 1;
  }
  toast-queue[data-mode="stacked"] [data-part="item"]:nth-child(2) {
    scale: 0.95;
  }
  toast-queue[data-mode="stacked"] [data-part="item"]:nth-child(3) {
    scale: 0.9;
  }
  toast-queue[data-mode="stacked"] [data-part="item"]:nth-child(n + 4) {
    scale: 0.85;
    opacity: 0;
    block-size: 0;
  }

  toast-queue [data-part="menu"] {
    view-transition-name: tq-menu;
    view-transition-class: tq-menu;
  }

  toast-queue[data-mode="stacked"] [data-part="menu"],
  toast-queue:has([data-part="group"]:empty) [data-part="menu"] {
    display: none;
  }

  ::view-transition-old(.tq-menu):only-child {
    --slideX: 0;
    --slideY: calc(-100%);
    animation-name: slide-out;
  }
  ::view-transition-new(.tq-menu):only-child {
    --slideX: 0;
    --slideY: calc(-100%);
    animation-name: slide-in;
  }

  toast-queue:not([data-mode="stacked"]) [data-part="menu"] {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }

  ::view-transition-group(.tq-item) {
    animation-duration: 0.3s;
    /* animation-timing-function: linear(0, 0.402 7.4%, 0.711 15.3%, 0.929 23.7%, 1.008 28.2%, 1.067 33%, 1.099 36.9%, 1.11 41%, 1.13 45.4%, 1.13 50.1%, 1.111 58.5%, 1.019 83.2%, 1.004 91.3%, 1); */
  }
  ::view-transition-group(.tq-item.block-end) {
    --slideX: 0;
    --slideY: calc(100%);
  }
  ::view-transition-group(.tq-item.block-start) {
    --slideX: 0;
    --slideY: calc(-100%);
  }
  ::view-transition-group(.tq-item.inline-start) {
    --slideX: calc(-100%);
    --slideY: 0;
  }
  ::view-transition-group(.tq-item.inline-end) {
    --slideX: calc(100%);
    --slideY: 0;
  }

  ::view-transition-new(.tq-item):only-child {
    animation-name: enter;
  }
  ::view-transition-old(.tq-item):only-child {
    animation-name: exit;
  }

  @keyframes enter {
    from {
      translate: var(--slideX) var(--slideY);
      opacity: 0.4;
    }
  }

  @keyframes exit {
    to {
      translate: var(--slideX) var(--slideY);
      opacity: 0;
    }
  }
}
