@layer toast-queue {
  toast-queue [data-part="group"] {
    display: grid;
    grid-auto-flow: row;
  }

  toast-queue [data-part="item"] {
    height: fit-content;
  }

  toast-queue [data-part="item"]:first-child {
    z-index: 3;
  }
  toast-queue [data-part="item"]:nth-child(2) {
    z-index: 2;
  }
  toast-queue [data-part="item"]:nth-child(3) {
    z-index: 1;
  }

  toast-queue [data-part="item"]:nth-child(n + 4) {
    display: none;
  }

  toast-queue[data-placement^="top"]:not([data-active="true"]) [data-part="item"]:nth-child(2) {
    margin-block-start: 10px;
  }
  toast-queue[data-placement^="top"]:not([data-active="true"]) [data-part="item"]:nth-child(3) {
    margin-block-start: 19px;
  }
  toast-queue[data-placement^="bottom"]:not([data-active="true"]) [data-part="item"]:nth-child(2),
  toast-queue[data-placement="center"]:not([data-active="true"]) [data-part="item"]:nth-child(2) {
    margin-block-start: -10px;
  }
  toast-queue[data-placement^="bottom"]:not([data-active="true"]) [data-part="item"]:nth-child(3),
  toast-queue[data-placement="center"]:not([data-active="true"]) [data-part="item"]:nth-child(3) {
    margin-block-start: -19px;
  }
  toast-queue[data-placement^="bottom"]:not([data-active="true"]) [data-part="item"]:nth-child(4),
  toast-queue[data-placement="center"]:not([data-active="true"]) [data-part="item"]:nth-child(4) {
    margin-block-start: -26px;
  }

  toast-queue:not([data-active="true"]) [data-part="item"]:not(:first-child) {
    pointer-events: none;
  }
  toast-queue:not([data-active="true"]) [data-part="item"] {
    grid-area: 1 / 1;
  }
  toast-queue:not([data-active="true"]) [data-part="item"]:nth-child(2) {
    scale: 0.95;
  }
  toast-queue:not([data-active="true"]) [data-part="item"]:nth-child(3) {
    scale: 0.9;
  }

  toast-queue[data-placement]:not([data-active="true"]) [data-part="item"]:nth-child(4) {
    display: initial;
    scale: 0.8;
    opacity: 0;
  }

  ::view-transition-group(.tq-toast) {
    animation-duration: 0.3s;
  }
  ::view-transition-group(.tq-toast.block-end) {
    --slideX: 0;
    --slideY: calc(100%);
  }
  ::view-transition-group(.tq-toast.block-start) {
    --slideX: 0;
    --slideY: calc(-100%);
  }
  ::view-transition-group(.tq-toast.inline-start) {
    --slideX: calc(-100%);
    --slideY: 0;
  }
  ::view-transition-group(.tq-toast.inline-end) {
    --slideX: calc(100%);
    --slideY: 0;
  }

  ::view-transition-new(.tq-toast):only-child {
    animation-name: enter;
  }
  ::view-transition-old(.tq-toast):only-child {
    animation-name: exit;
  }

  @keyframes enter {
    from {
      translate: var(--slideX) var(--slideY);
      opacity: 0;
    }
  }

  @keyframes exit {
    to {
      translate: var(--slideX) var(--slideY);
      opacity: 0;
    }
  }
}
