@layer reset, tokens, syntax-highlight-element, layout;

@layer layout {
  :root {
    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    display: grid;
    min-block-size: 100dvh;
    font-family: var(--fonts-sans);
    font-weight: 400;
  }

  :focus-visible {
    outline-color: var(--accent);
    outline-offset: var(--spacing-0\.5);
  }

  :any-link {
    color: inherit;
    text-decoration-color: light-dark(var(--light-accent), var(--dark-accent));
    text-decoration-line: underline;
    text-underline-offset: var(--spacing-1);
  }

  :any-link:not(:is(:hover, :focus)) {
    text-decoration-color: color-mix(in srgb, currentColor, transparent 75%);
  }

  [hidden] {
    display: none;
  }

  button,
  .button,
  [role="button"] {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-2);
    border-radius: 0.5em;
    border: 1px solid transparent;
    padding: 0.4em 1em;
    font-weight: 500;
    font-family: inherit;
    color: inherit;
    background-color: light-dark(var(--light-button-face), var(--dark-button-face));
    cursor: pointer;
    transition: border-color 0.25s ease;
    text-decoration: unset;
  }
  button:hover,
  .button:hover,
  [role="button"]:hover {
    border-color: var(--accent);
  }

  .copy-code {
    display: grid;
    margin-block: var(--spacing-10);

    > * {
      grid-area: 1 / 1;
    }

    syntax-highlight:not([content-selector="style"]),
    syntax-highlight:is([content-selector="style"]) style {
      border: 1px solid color-mix(in srgb, var(--accent) 38%, transparent);
      border-radius: 0.5rem;
      padding: var(--spacing-4);
    }

    syntax-highlight:is([content-selector="style"]) {
      display: grid;
    }
    syntax-highlight:is([content-selector="style"]) style {
      display: block;
      overflow: auto;
      block-size: 400px;
      outline: 0;
    }

    [role="button"] {
      justify-self: end;
      align-self: start;
      margin-inline-end: var(--spacing-2);
      margin-block-start: var(--spacing-2);
      opacity: 0;
      font-size: small;
      border-radius: calc(0.5rem - var(--spacing-2) / 2);
      background: color-mix(in srgb, var(--canvas) 88%, transparent);
      backdrop-filter: blur(8px);
    }
  }

  .copy-code:hover [role="button"],
  .copy-code:focus-within [role="button"] {
    opacity: 1;
  }

  color-scheme-switch {
    aspect-ratio: 1;
    padding: var(--spacing-2) !important;
  }

  code {
    background-color: light-dark(#efefef, #000000);
    border-radius: 0.25rem;
    color: light-dark(#111111, #ffffff);
    padding: var(--spacing-0\.5) var(--spacing-1);
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--spacing-5);
    position: sticky;
    top: 0;
    background-color: color-mix(in srgb, var(--canvas) 88%, transparent);
    backdrop-filter: blur(8px);
    padding: var(--spacing-6) var(--spacing-4);
    /* padding: 1rem clamp(1rem, 4vw, 2rem); */
    container-type: inline-size;

    .brand {
      margin: unset;
      font-weight: 700;
      letter-spacing: -0.01em;
      text-wrap: nowrap;
      display: flex;
      align-items: center;
      gap: var(--spacing-2);
    }

    .brand [aria-hidden="true"],
    .byline {
      display: none;
    }

    .byline {
      font-weight: 400;
      font-size: 0.8rem;
      color: var(--muted);
    }

    .header-links {
      font-size: 0.9rem;
      display: flex;
      flex-wrap: wrap;
      gap: var(--spacing-5);

      a {
        color: inherit;
        display: inline-flex;
        align-items: center;
        gap: var(--spacing-2);
        text-wrap: nowrap;
      }

      a span {
        display: none;
      }
    }
  }
  @container (min-width: 400px) {
    header .brand [aria-hidden="true"] {
      display: initial;
    }
  }

  @container (min-width: 520px) {
    header .byline,
    header .header-links a span {
      display: initial;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-10);
    margin-inline: auto;
    max-inline-size: var(--sizes-4xl);
    inline-size: var(--sizes-full);
    padding-inline: var(--spacing-4);
    padding-block-end: var(--spacing-24);
  }

  main p,
  main ul,
  main legend {
    color: color-mix(in srgb, var(--canvas-text) 75%, transparent);
  }

  main p,
  main ul {
    max-width: 60ch;
    text-wrap: pretty;
    line-height: 1.5;
  }

  main ul {
    padding-inline-start: var(--spacing-4);
  }

  main legend {
    font-size: smaller;
  }

  main fieldset {
    border: 1px solid color-mix(in srgb, var(--accent) 38%, transparent);
    border-radius: 0.5rem;
    padding: var(--spacing-4);
    background-color: light-dark(#fdfdfd, #000000);
  }

  main article {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: var(--spacing-10);
  }

  /* main article:first-of-type {
    background-color: color-mix(in srgb, currentColor, transparent 96%);
    padding: 2rem;
    border-radius: 1rem;
  } */

  main article > section:has(section) {
    display: flex;
    flex-direction: inherit;
    gap: inherit;
  }

  footer {
    background: color-mix(in srgb, var(--canvas) 88%, transparent);
    text-align: center;
    font-size: 0.85rem;
    margin-inline: auto;
    margin-block-start: auto;
    inline-size: var(--sizes-full);
    padding: var(--spacing-8) var(--spacing-4);

    p {
      margin: 0;
      margin-block-end: var(--spacing-2);
    }
  }
}

@layer reset {
  *,
  :after,
  :before {
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }
}

@layer tokens {
  :where(:root) {
    --spacing-0: 0rem;
    --spacing-0\.5: 0.125rem;
    --spacing-1: 0.25rem;
    --spacing-1\.5: 0.375rem;
    --spacing-2: 0.5rem;
    --spacing-2\.5: 0.625rem;
    --spacing-3: 0.75rem;
    --spacing-3\.5: 0.875rem;
    --spacing-4: 1rem;
    --spacing-5: 1.25rem;
    --spacing-6: 1.5rem;
    --spacing-7: 1.75rem;
    --spacing-8: 2rem;
    --spacing-9: 2.25rem;
    --spacing-10: 2.5rem;
    --spacing-11: 2.75rem;
    --spacing-12: 3rem;
    --spacing-14: 3.5rem;
    --spacing-16: 4rem;
    --spacing-20: 5rem;
    --spacing-24: 6rem;
    --spacing-28: 7rem;
    --spacing-32: 8rem;

    --sizes-xs: 20rem;
    --sizes-sm: 24rem;
    --sizes-md: 28rem;
    --sizes-lg: 32rem;
    --sizes-xl: 36rem;
    --sizes-2xl: 42rem;
    --sizes-3xl: 48rem;
    --sizes-4xl: 56rem;
    --sizes-5xl: 64rem;
    --sizes-6xl: 72rem;
    --sizes-7xl: 80rem;
    --sizes-8xl: 90rem;
    --sizes-full: 100%;

    --fonts-sans: ui-sans-serif, "Segoe UI", system-ui, -apple-system, sans-serif;
    --fonts-mono:
      ui-monospace, "SF Mono", "Cascadia Code", "Roboto Mono", Menlo, Consolas, monospace;

    --accent: light-dark(#c0c0b0, lightyellow);
    --canvas: light-dark(#ffffff, #242424);
    --canvas-text: light-dark(#242424, #ffffff);
    --button-face: light-dark(#f9f9f9, #1a1a1a);
    --button-face-muted: light-dark(#fdfdfd, #212121);
  }
}

@layer syntax-highlight-element {
  syntax-highlight {
    --mono-bg: light-dark(#fdfdfd, #000000);
    --mono-fg: light-dark(#111111, #ffffff);
    --mono-comment: light-dark(#a7a7a7, #666666);
    --mono-constant: light-dark(#666666, #a7a7a7);
    --mono-entity: light-dark(#111111, #ffffff);
    --mono-entity-tag: light-dark(#666666, #a7a7a7);
    --mono-keyword: light-dark(#666666, #a7a7a7);
    --mono-string: light-dark(#666666, #a7a7a7);
    /* --mono-variable: light-dark(#a65e2b, #cb997e);
    --mono-deleted-bg: light-dark(#fce6e6, #37232b);
    --mono-deleted-text: light-dark(#a13f3f, #e28080);
    --mono-inserted-bg: light-dark(#e6f4e6, #1c3327);
    --mono-inserted-text: light-dark(#3f7d4f, #8fca9e); */

    font-family: var(--fonts-mono);
    font-weight: 500;
    font-size: smaller;
    line-height: 1.6;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    overflow-inline: auto;
    overscroll-behavior-inline: contain;
    tab-size: 2;
    hyphens: none;
    color: var(--mono-fg);
    background-color: var(--mono-bg);

    /* Fallback for browsers without logical overscroll support (Safari) */
    overflow-x: auto;
    overscroll-behavior-x: contain;
  }

  ::highlight(punctuation),
  ::highlight(number),
  ::highlight(atrule) {
    color: var(--mono-fg);
  }

  ::highlight(namespace) {
    opacity: 0.7;
  }

  ::highlight(comment),
  ::highlight(prolog),
  ::highlight(doctype),
  ::highlight(cdata) {
    color: var(--mono-comment);
  }

  ::highlight(constant),
  ::highlight(char),
  ::highlight(builtin),
  ::highlight(operator) {
    color: var(--mono-constant);
  }

  ::highlight(attr-name) {
    color: var(--mono-fg);
  }

  ::highlight(property),
  ::highlight(tag),
  ::highlight(boolean),
  ::highlight(symbol) {
    color: var(--mono-entity-tag);
  }

  ::highlight(entity),
  ::highlight(selector),
  ::highlight(class-name),
  ::highlight(function) {
    color: var(--mono-entity);
  }

  ::highlight(keyword),
  ::highlight(rule) {
    color: var(--mono-keyword);
  }

  ::highlight(string),
  ::highlight(attr-value) {
    color: var(--mono-string);
  }

  ::highlight(variable) {
    color: var(--mono-variable);
  }

  ::highlight(deleted) {
    color: var(--mono-deleted-text);
    background-color: var(--mono-deleted-bg);
  }

  ::highlight(inserted) {
    color: var(--mono-inserted-text);
    background-color: var(--mono-inserted-bg);
  }
}
