@layer toast-queue {
  [data-tq-part="popover"] {
    --toast-width: 200px;

    box-sizing: border-box;
    width: var(--toast-width);
    max-width: 100%;

    display: none;
    padding: 1rem;
    margin: unset;
    inset: unset;
    background-color: unset;
    border: unset;
  }

  [data-tq-part="popover"]:popover-open {
    display: initial;
  }

  [data-tq-part="popover"][data-tq-position^="top"] {
    inset-block-start: env(safe-area-inset-top, 0);
  }
  [data-tq-part="popover"][data-tq-position^="bottom"] {
    inset-block-end: env(safe-area-inset-bottom, 0);
    /* flex-direction: column-reverse; */
  }
  [data-tq-part="popover"][data-tq-position="top start"],
  [data-tq-part="popover"][data-tq-position="bottom start"] {
    inset-inline-start: env(safe-area-inset-left, 0);
  }
  [data-tq-part="popover"][data-tq-position="top end"],
  [data-tq-part="popover"][data-tq-position="bottom end"] {
    inset-inline-end: env(safe-area-inset-right, 0);
  }
  [data-tq-part="popover"][data-tq-position="top center"],
  [data-tq-part="popover"][data-tq-position="bottom center"] {
    inset-inline: env(safe-area-inset-left, 0);
    margin-inline: auto;
  }

  [data-tq-part="group"] {
    list-style: none;
    margin: unset;
    padding: unset;
    /* display: flex;
    flex-direction: column; */
  }

  /* [data-tq-position^="bottom"] [data-tq-part="group"] {
    flex-direction: column-reverse;
  } */

  /* [data-tq-part="item"]:not(:nth-child(-n + 3)) {
    display: none;
  } */

  [data-tq-part="toast"] {
    background-color: Canvas;

    /* Prevent selection relevant for touch devices */
    user-select: none;
    -webkit-user-select: none;
  }
}

[data-tq-dismissible="false"] [data-tq-part="close-button"] {
  display: none;
}
