@layer toast-queue {
  * {
    box-sizing: border-box;
  }

  [data-toast="popover"] {
    --toast-width: 33ch;

    width: var(--toast-width);
    max-width: 100%;
  }

  [data-toast="popover"]:popover-open {
    padding: 1rem;
    margin: unset;
    inset: unset;
    background-color: unset;
    border: unset;
    overflow: clip;
  }

  [data-toast="popover"][data-toast-placement^="top"] {
    inset-block-start: env(safe-area-inset-top, 0.5vh);
  }
  [data-toast="popover"][data-toast-placement^="bottom"] {
    inset-block-end: env(safe-area-inset-bottom, 0.5vh);
  }
  [data-toast="popover"][data-toast-placement="top end"],
  [data-toast="popover"][data-toast-placement="bottom end"] {
    inset-inline-end: env(safe-area-inset-right, 0.5vh);
  }
  [data-toast="popover"][data-toast-placement="top center"],
  [data-toast="popover"][data-toast-placement="bottom center"] {
    inset-inline: env(safe-area-inset-left, 0.5vh);
    margin-inline: auto;
  }

  [data-toast="container"] {
    pointer-events: auto;
    list-style: none;
    margin: unset;
    padding: unset;
    display: grid;
    grid-auto-flow: row;
    transition: all ease-in-out 0.25s;
  }

  [data-toast="container"]:not([data-minimized]) {
    gap: .6rem;
  }

  [data-toast="actions"] {
    pointer-events: auto;
  }

  [data-toast="popover"]:has([data-minimized]) [data-toast="actions"] {
    display: none;
  }

  [data-toast="root"] {
    list-style-position: unset;
  }

  [data-toast="root"]:first-child {
    z-index: 3;
  }
  [data-toast="root"]:nth-child(2) {
    z-index: 2;
  }
  [data-toast="root"]:nth-child(3) {
    z-index: 1;
  }

  [data-toast-placement^="top"]:has([data-minimized]) [data-toast="root"]:nth-child(2) {
    margin-block-start: 10px;
  }
  [data-toast-placement^="top"]:has([data-minimized]) [data-toast="root"]:nth-child(3) {
    margin-block-start: 19px;
  }

  [data-toast-placement^="bottom"]:has([data-minimized]) [data-toast="root"]:nth-child(2) {
    margin-block-start: -10px;
  }
  [data-toast-placement^="bottom"]:has([data-minimized]) [data-toast="root"]:nth-child(3) {
    margin-block-start: -19px;
  }

  [data-toast="container"][data-minimized] [data-toast="root"]:not(:first-child) {
    pointer-events: none;
  }
  [data-toast="container"][data-minimized] [data-toast="root"] {
    grid-area: 1 / 1;
  }
  [data-toast="container"][data-minimized] [data-toast="root"]:nth-child(2) {
    scale: 0.95;
  }
  [data-toast="container"][data-minimized] [data-toast="root"]:nth-child(3),
  [data-toast="container"][data-minimized] [data-toast="root"]:nth-child(4) {
    scale: 0.9;
    opacity: 0.6;
  }
  [data-toast="container"][data-minimized] [data-toast="root"]:nth-child(n + 4) {
    scale: 0.85;
    opacity: 0;
    block-size: 0;
  }

  [data-toast="notification"] {
    background-color: Canvas;

    /* Prevent selection relevant for touch devices */
    user-select: none;
    -webkit-user-select: none;

    /* Make sure capture pointer events will work properly on touch devices */
    touch-action: none;
  }

  ::view-transition-group(.toast) {
    animation-duration: 300ms;
  }
  ::view-transition-group(.toast.block-end) {
    --slideX: 0;
    --slideY: calc(100%);
  }
  ::view-transition-group(.toast.block-start) {
    --slideX: 0;
    --slideY: calc(-100%);
  }
  ::view-transition-group(.toast.inline-start) {
    --slideX: calc(-100%);
    --slideY: 0;
  }
  ::view-transition-group(.toast.inline-end) {
    --slideX: calc(100%);
    --slideY: 0;
  }

  ::view-transition-new(.toast):only-child {
    animation-name: slide-in;
  }
  ::view-transition-old(.toast):only-child {
    animation-name: slide-out;
  }

  @keyframes slide-in {
    from {
      translate: var(--slideX) var(--slideY);
      scale: 0.9;
      opacity: 0;
      /* filter: blur(10px); */
    }
  }

  @keyframes slide-out {
    to {
      translate: var(--slideX) var(--slideY);
      /* scale: 1.1; */
      scale: 0.9;
      opacity: 0;
      /* filter: blur(10px); */
    }
  }
}
